<h1>Restaurant Detail</h1>

<% if owner_signed_in? %>
  <h3>
    <strong>
      <%= link_to 'View Reservations', restaurant_reservations_path(@restaurant) %>
    </strong>
  </h3>
<% end %>

<% if user_signed_in? %>
  <h3>
    <strong>
      <%= link_to 'Make Reservation', new_restaurant_reservation_path(@restaurant) %>
    </strong>
  </h3>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @restaurant.number_of_seats %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>Photo of the restaurant:</strong>
  <br>
  <%= image_tag(@restaurant.image_url.to_s) %>
</p>

<p><strong>Map:</strong></p>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR1YVwH0oFBINVt8v5QS_j4TF68oTAVH0&callback=initMap">
    </script>

    <br>
<% if owner_signed_in? %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
<% elsif user_signed_in? %>
  <%= link_to 'Back', list_restaurants_path %>
<% end %>
